:root {
    /* Primary Colors (Viking) */
    --primary-50: #eefcfd;
    --primary-100: #d3f7fa;
    --primary-200: #adeef4;
    --primary-300: #74e0ec;
    --primary-400: #3ccadd;
    --primary-500: #19abc1;
    --primary-600: #178aa3;
    --primary-700: #1a6f84;
    --primary-800: #1e5b6c;
    --primary-900: #1d4c5c;
    --primary-950: #0d323f;

    /* Secondary Colors (Goldenrod) */
    --secondary-50: #fffaeb;
    --secondary-100: #fff1c6;
    --secondary-200: #ffdb70;
    --secondary-300: #ffcc4a;
    --secondary-400: #ffb520;
    --secondary-500: #f99207;
    --secondary-600: #dd6c02;
    --secondary-700: #b74a06;
    --secondary-800: #94380c;
    --secondary-900: #7a2e0d;
    --secondary-950: #461602;

    /* Accent Colors (Black) */
    --accent-50: #f6f6f6;
    --accent-100: #e7e7e7;
    --accent-200: #d1d1d1;
    --accent-300: #b0b0b0;
    --accent-400: #888888;
    --accent-500: #6d6d6d;
    --accent-600: #5d5d5d;
    --accent-700: #4f4f4f;
    --accent-800: #454545;
    --accent-900: #3d3d3d;
    --accent-950: #000000;
}